/* estilos para barra de nav */
*{
    background: #000;
}
.custom-navbar {
  border-radius: 0 0 35px 35px;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.navbar-brand img {
  height: 60px;
  width: 160px;
}

.nav-link:hover {
  color: #00a652 !important;
}

.btn-success {
  background-color: #00a652 !important;
  border: none;
  transition: background 0.3s ease;
}

.btn-success:hover {
  background-color: #028a47 !important;
}
/* desde aca sampo lo que es el hero */
#hero {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

#hero h2 {
  color: #198754;
  font-weight: 700;
}

#hero p {
  font-size: 1.05rem;
  line-height: 1.7;
}

.hero-img {
  max-width: 90%;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.hero-img:hover {
  transform: scale(1.03);
}

.btn-success {
  background-color: #00a652 !important;
  border: none;
  transition: background 0.3s ease;
}

.btn-success:hover {
  background-color: #028a47 !important;
}

