/* 1. Tipografías */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}


/* 2. Colores */
:root {
    --primary-color: #0A932C;
    /* Color principal de la marca.*/
    --white-color: #FFFFFF;
    /*Color blanco*/
    --green-background: #9DE795;
    /* Ideal para fondos, detalles secundarios y refuerzos visuales.*/
    --neutral-color: #424B54;
    /* Color neutro, utilizado en tipografías y elementos secundarios.*/
    --light-color: #93BEDF;
    /* Se recomienda para destacar elementos sin perder armonía.*/
}

/* 3. Botones */

/* 4. Campos */
body {
    margin: 0px;
    height: 100vh;
}

/* 5. Titulos */
h1,
h2,
h3,
h4 {
    font-family: "Fredoka", sans-serif;
    margin: 0px;
}

/* 6. Labels */

/* 7. Parrafos */
p {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    height: 100vh;
}

main {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.cont-left,
.cont-rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-left {
    gap: 36px;
    padding-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 85%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 20px #00000025;
    border-radius: 46px;
    padding: 40px;
    width: 63%;
    max-width: 550px;
}

.form h2 {
    color: var(--neutral-color);
    font-size: 28px;
    text-align: center;
}

.form p {
    color: var(--neutral-color);
    font-size: 16px;
    width: 80%;
    text-align: center;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.login .cont-input {
    display: flex;
    align-items: center;
    width: 100%;
}

.login .cont-input i {
    font-size: 24px;
    position: absolute;
    color: var(--neutral-color);
    margin-left: 15px;
}


.login .cont-input input {
    border-radius: 16px;
    border: 1px solid var(--neutral-color);
    padding: 0px 20px 0px 60px;
    font-size: 16px;
    height: 50px;
    width: 100%;
}

.login #recover {
    color: var(--neutral-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

#btn_ingresar {
    width: 170px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 16px;
    border: none;
    color: var(--white-color);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#btn_ingresar a {
    text-decoration: none;
    color: var(--white-color);
}


.cont-rigth {
    background-image: url('../img/fondoLogin.png');
    background-size: 100% 100%;
    flex-direction: column;
    justify-content: center;
}

.info {
    border: 1px solid var(--white-color);
    border-radius: 46px;
    width: 70%;
    height: 83%;
    background: #ffffff21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.info p {
    font-size: 28px;
    font-family: 'Fredoka';
    color: var(--neutral-color);
    font-weight: 500;
    width: 100%;
    line-height: 1.5;
}


/* Ajuste específico para la página de recuperación */
.form h2 {
    color: var(--neutral-color);
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

#btn_ingresar {
    background-color: var(--primary-color);
    transition: 0.3s ease;
}

#btn_ingresar:hover {
    background-color: var(--green-background);
    color: var(--neutral-color);
}

#recover {
    margin-top: 10px;
    font-size: 14px;
    color: var(--neutral-color);
    text-decoration: underline;
    transition: 0.3s ease;
}

#recover:hover {
    color: var(--primary-color);
}


/* TABLET estilos responsil table*/
@media screen and (min-width:768px) and (max-width:1080px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .cont-rigth {
        height: 100%;
    }
    
    .info{
        margin: 20px;
    }

    #img_info {
        width: 40%;
        bottom: 2%;
        right: 8%;
    }

}



/* SMARTPHONE estilos responsil de cel*/
@media screen and (min-width:320px) and (max-width:767px) {

    .container {
        display: flex;  
        flex-direction: column;
    }

    .cont-left{
        width: 100%;

    }
    
    .cont-rigth p {
        width: 100%;
        margin: 0px;
    }

    .cont-rigth {
        padding: 20px;
        height: 50vh;
    }

}