body {
    padding: 0px;
    height: 100vh;
}

main {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.cont-left,
.cont-rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-left {
    gap: 36px;
    padding-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 85%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 20px #00000025;
    border-radius: 46px;
    padding: 40px;
    width: 63%;
    max-width: 550px;
}

.form h2 {
    color: var(--neutral-color);
    font-size: 28px;
    text-align: center;
}

.form p {
    color: var(--neutral-color);
    font-size: 16px;
    width: 80%;
    text-align: center;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.login .cont-input {
    display: flex;
    align-items: center;
    width: 100%;
}

.login .cont-input i {
    font-size: 24px;
    position: absolute;
    color: var(--neutral-color);
    margin-left: 15px;
}

.login .cont-input input {
    border-radius: 16px;
    border: 1px solid var(--neutral-color);
    padding: 0px 20px 0px 60px;
    font-size: 16px;
    height: 50px;
    width: 100%;
}

.login #recover {
    color: var(--neutral-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

#btn_ingresar {
    width: 170px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 16px;
    border: none;
    color: var(--white-color);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

#btn_ingresar:hover {
    background-color: var(--green-background);
    color: var(--neutral-color);
}

#btn_ingresar a {
    text-decoration: none;
    color: var(--white-color);
}

#btn_ingresar a:hover {
    color: var(--neutral-color);
}

.cont-rigth {
    background-image: url('../img/fondoLogin.png');
    background-size: 100% 100%;
    flex-direction: column;
    justify-content: center;
}

.info {
    border: 1px solid var(--white-color);
    border-radius: 46px;
    width: 70%;
    height: 83%;
    background: #ffffff21;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 37px 40px;
}

.info p {
    font-size: 26px;
    font-family: 'Fredoka';
    color: var(--neutral-color);
    font-weight: 500;
    width: 50%;
    line-height: 1.5;
    margin-top: 20px;
}

.info img {
    position: absolute;
}

@keyframes scale-in-out { 0% {transform: scale(1);}50% { transform: scale(1.1)}100% {transform: scale(1)}}

#icon-datos {
    top: 75%;
    right: 40%;
    border: 4px solid var(--white-color);
    border-radius: 50%;
    background-color: var(--white-color);
    transition: transform 0.3s ease-in-out;
    animation-name: scale-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#img_info {
    width: 25%;
    right: 3%;
    bottom: 5%;
}

/* TABLET estilos responsil table*/
@media screen and (min-width:768px) and (max-width:1080px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .cont-rigth {
        height: 100%;
    }

    #icon-datos {
        left: 5%;
        top: 85%;
    }

    .info p {
        width: 60%;
    }

    #img_info {
        width: 40%;
        bottom: 2%;
        right: 8%;
    }

}



/* SMARTPHONE estilos responsil de cel*/
@media screen and (min-width:320px) and (max-width:767px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .cont-rigth p {
        width: 100%;
        margin: 0px;
    }

    .cont-rigth {
        padding: 20px;
    }


    #img_info,
    #icon-datos {
        display: none;
    }
}